---
// Import the global.css file here so that it is included on
// all pages through the use of the <BaseHead /> component.
import '../../styles/global.css';
import { ClientRouter } from 'astro:transitions';
import type { ImageMetadata } from 'astro';

interface Props {
  title: string;
  description: string;
  image?: string;
}

const { title, description, image = '/screenshot.jpg' } = Astro.props;

let resolvedImage = image;

if (image.startsWith('/src/assets/')) {
  const images = import.meta.glob<{ default: ImageMetadata }>('/src/assets/*.{jpeg,jpg,png,gif}');
  const imageImporter = images[image];

  if (imageImporter) {
    const imageMod = await imageImporter();
    resolvedImage = imageMod.default.src;
  } else {
    resolvedImage = '/screenshot.jpg';
  }
}
---

<!-- Global Metadata -->
<meta charset='utf-8' />
<meta name='viewport' content='width=device-width,initial-scale=1' />
<meta name='generator' content={Astro.generator} />

<!-- Font preloads -->
<link rel='preload' href='/fonts/Alexandria-Bold.woff2' as='font' type='font/woff2' crossorigin />
<link rel='preload' href='/fonts/Alexandria-Bold.woff' as='font' type='font/woff' crossorigin />
<link rel='preload' href='/fonts/Alexandria-Light.woff2' as='font' type='font/woff2' crossorigin />
<link rel='preload' href='/fonts/Alexandria-Light.woff' as='font' type='font/woff' crossorigin />
<link rel='preload' href='/fonts/Alexandria-Regular.woff2' as='font' type='font/woff2' crossorigin />
<link rel='preload' href='/fonts/Alexandria-Regular.woff' as='font' type='font/woff' crossorigin />
<link rel='preload' href='/fonts/Alexandria-SemiBold.woff2' as='font' type='font/woff2' crossorigin />
<link rel='preload' href='/fonts/Alexandria-SemiBold.woff' as='font' type='font/woff' crossorigin />
<link rel='preload' href='/fonts/Kablammo-Regular.woff2' as='font' type='font/woff2' crossorigin />
<link rel='preload' href='/fonts/Kablammo-Regular.woff' as='font' type='font/woff' crossorigin />

<!-- Primary Meta Tags -->
<title>{title}</title>
<ClientRouter />

<!-- Google Tag Manager -->
<script>(function(w,d,s,l,i){w[l]=w[l]||[];w[l].push({'gtm.start':
new Date().getTime(),event:'gtm.js'});var f=d.getElementsByTagName(s)[0],
j=d.createElement(s),dl=l!='dataLayer'?'&l='+l:'';j.async=true;j.src=
'https://www.googletagmanager.com/gtm.js?id='+i+dl;f.parentNode.insertBefore(j,f);
})(window,document,'script','dataLayer','GTM-5LVDQDHK');</script>
<!-- End Google Tag Manager -->

<meta name='title' content={title} />
<meta name='description' content={description} />
<meta name="robots" content="index, follow">
<meta name="format-detection" content="telephone=no">
<link rel='apple-touch-icon' sizes='57x57' href='/favicon/apple-icon-57x57.png'>
<link rel='apple-touch-icon' sizes='60x60' href='/favicon/apple-icon-60x60.png'>
<link rel='apple-touch-icon' sizes='72x72' href='/favicon/apple-icon-72x72.png'>
<link rel='apple-touch-icon' sizes='76x76' href='/favicon/apple-icon-76x76.png'>
<link rel='apple-touch-icon' sizes='114x114' href='/favicon/apple-icon-114x114.png'>
<link rel='apple-touch-icon' sizes='120x120' href='/favicon/apple-icon-120x120.png'>
<link rel='apple-touch-icon' sizes='144x144' href='/favicon/apple-icon-144x144.png'>
<link rel='apple-touch-icon' sizes='152x152' href='/favicon/apple-icon-152x152.png'>
<link rel='apple-touch-icon' sizes='180x180' href='/favicon/apple-icon-180x180.png'>
<link rel='icon' type='image/png' sizes='192x192'  href='/favicon/android-icon-192x192.png'>
<link rel='icon' type='image/png' sizes='32x32' href='/favicon/favicon-32x32.png'>
<link rel='icon' type='image/png' sizes='96x96' href='/favicon/favicon-96x96.png'>
<link rel='icon' type='image/png' sizes='16x16' href='/favicon/favicon-16x16.png'>
<link rel="canonical" href={Astro.url} />
<link rel='manifest' href='/favicon/manifest.json'>
<meta name='msapplication-TileColor' content='#ffffff'>
<meta name='msapplication-TileImage' content='/favicon/ms-icon-144x144.png'>
<meta name='theme-color' content='#ffffff'>

<!-- Open Graph / Facebook -->
<meta property='og:type' content='website' />
<meta property='og:url' content={Astro.url} />
<meta property='og:title' content={title} />
<meta property='og:description' content={description} />
<meta property='og:image' content={new URL(resolvedImage, Astro.url)} />

<!-- Twitter -->
<meta property='twitter:card' content='summary_large_image' />
<meta property='twitter:url' content={Astro.url} />
<meta property='twitter:title' content={title} />
<meta property='twitter:description' content={description} />
<meta property='twitter:image' content={new URL(resolvedImage, Astro.url)} />
